.steps {
  display: flex;
  flex-direction: column;
  background-color: #454646;
  padding-top: 96px;
  align-items: center;
}
.steps__media320 {
  display: none;
}
.steps__br {
  display: none;
}
.steps__title {
  margin: 0;
  font-size: 40px;
  font-weight: 600;
  line-height: 57.6px;
}

.steps__subtitle-container {
  display: flex;
  flex-direction: row;
  gap: 19px;
  margin-bottom: 49px;
  margin-left: 83px;
}

.steps__subtitle-text {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}
.steps__subtitle-button {
  border-radius: 20px;
  border: none;
  padding: 0 45px;
  background: #feb832;
  font-size: 18px;
  font-weight: 700;
}
.steps__subtitle-button:hover {
  cursor: pointer;
}

.steps__items {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-bottom: 91px;
}
.steps__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background: url(../../images/background.png);
  background-size: cover;
  padding: 33px 9px 28px 16px;
}

.steps__item-number {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #feb832;
  border-radius: 50%;
  margin-bottom: 32px;
  width: 60px;
  height: 60px;
  color: #2b2b2b;
  font-size: 30px;
  font-weight: 600;
  line-height: 24px;
}

.steps__item-title {
  margin: 0;
  margin-bottom: 15px;
  align-self: start;
  font-size: 23px;
  font-weight: 700;
  line-height: 24px;
}
.steps__item-subtitle {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.steps__question {
  margin: 0;
  margin-bottom: 55px;
  font-size: 40px;
  font-weight: 600;
  line-height: 57.6px;
}
.steps__question-image {
  width: 212px;
  height: 230px;
}
.steps__image-fridge {
  width: 141px;
}
.steps__question-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
  row-gap: 64px;
  margin-bottom: 113px;
  margin: 0 54px 108px;
}
.steps__question-item {
  display: flex;
  flex-direction: column;
  padding: 36px 0px 5px 10px;
  align-items: center;
  border-radius: 20px;
  background: url(http://localhost:3000/static/media/background.6b86452eb6acb23fe5b2.png);
  background-size: cover;
}
.steps__question-title {
  margin: 0;
  font-size: 40px;
  font-weight: 600;
  line-height: 57.6px;
  align-self: start;
  margin-bottom: 30px;
}
.steps__question-subtitle {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  align-self: start;
  margin-bottom: 30px;
}
.steps__question-buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.steps__question-button {
  padding: 20px 31px;
  border-radius: 20px;
  border: none;
  background: #feb832;
  font-size: 18px;
  font-weight: 700;
}

@media screen and (max-width: 360px) {
  .steps__media320 {
    display: flex;
  }
  .steps__question {
    font-size: 25px;
    line-height: 40px;
    margin-top: 65px;
  }
  .steps__question-items {
    gap: 20px;
    margin: 0 22px;
  }

  .steps__items {
    margin: 0 18px;
  }
  .steps__question-title {
    font-size: 20px;
    line-height: 30px;
  }
  .steps__question-subtitle {
    font-size: 16px;
    line-height: 24px;
  }
}
@media screen and (max-width: 800px) {
  .steps {
    padding-top: 69px;
    padding-bottom: 152px;
  }
  .steps__br {
    display: flex;
  }
  .steps__title {
    font-size: 25px;
    line-height: 40px;
    text-align: center;
    margin-bottom: 40px;
  }
  .steps__subtitle-container {
    display: none;
  }
  .steps__items {
    flex-direction: column;
  }
  .steps__item {
    padding: 28px 9px 42px 11px;
  }
  .steps__question-items {
    grid-template-columns: repeat(1, 1fr);
  }
}
