.steps {
  display: flex;
  flex-direction: column;
  background-color: #454646;
  padding-top: 96px;
  align-items: center;
}
.steps__br {
  display: none;
}
.steps__title {
  margin: 0;
  font-size: 40px;
  font-weight: 600;
  line-height: 57.6px;
}

.steps__subtitle-container {
  display: flex;
  flex-direction: row;
  gap: 19px;
  margin-bottom: 49px;
  margin-left: 83px;
}

.steps__subtitle-text {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}
.steps__subtitle-button {
  border-radius: 20px;
  border: none;
  padding: 0 45px;
  background: #feb832;
  font-size: 18px;
  font-weight: 700;
}
.steps__subtitle-button:hover {
  cursor: pointer;
}

.steps__items {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-bottom: 110px;
}
.steps__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background: url(../../images/background.png);
  background-size: cover;
  padding: 33px 9px 28px 16px;
}

.steps__item-number {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #feb832;
  border-radius: 50%;
  margin-bottom: 32px;
  width: 60px;
  height: 60px;
  color: #2b2b2b;
  font-size: 30px;
  font-weight: 600;
  line-height: 24px;
}

.steps__item-title {
  margin: 0;
  margin-bottom: 15px;
  align-self: start;
  font-size: 23px;
  font-weight: 700;
  line-height: 24px;
}
.steps__item-subtitle {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

@media screen and (max-width: 800px) {
  .steps {
    padding-top: 69px;
  }
  .steps__br {
    display: flex;
  }
  .steps__title {
    font-size: 25px;
    line-height: 40px;
    text-align: center;
    margin-bottom: 40px;
  }
  .steps__subtitle-container {
    display: none;
  }
  .steps__items {
    flex-direction: column;
  }
  .steps__item {
    padding: 28px 9px 42px 11px;
  }
}
