.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #2b2b2b;
  padding: 24px 55px 21px;
  flex-wrap: wrap;
}

.header__logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.header__text-container {
  display: flex;
  flex-direction: column;
}

.header__logo-title {
  color: #feb832;
  font-size: 30px;
  font-weight: 600;
  line-height: 30px;
  margin: 0;
}

.header__logo-subtitle {
  color: #feb832;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  margin: 0;
}

.header__nav {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex-wrap: wrap;
}

.header__items {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding-top: 8px;
}

.header__nav-item {
  color: #fffcfc;
  font-size: 14px;
  font-weight: 500;
}

.header__nav-item:hover {
  text-decoration: underline;
  cursor: pointer;
}

.header__description {
  color: #fffcfc;
  font-size: 14px;
  text-align: right;
  font-weight: 500;
}

.header__button {
  padding: 15px 44px;
  border-radius: 20px;
  border: none;
  background: #feb832;
  font-size: 18px;
  font-weight: 700;
}

.header__button:hover {
  cursor: pointer;
}

.header__buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
  flex-wrap: wrap;
}

@media screen and (max-width: 420px) {
  .header__buttons {
    display: none;
  }
  .header__logo-image {
    width: 43px;
    height: 42px;
  }

  .header__logo__title {
    font-size: 20px;
    line-height: 20px;
  }
  .header__logo__subtitle {
    font-size: 14px;
    line-height: 20px;
  }
}
@media screen and (max-width: 1145px) {
  .header__nav {
    display: none;
  }
}
@media screen and (max-width: 635px) {
  .header__button-image {
    display: none;
  }
  .header__button {
    display: none;
  }
}
